In [1]:
Employees=[
    { 
     'id' : 1150,
     'name':'Ubaid',
     'department': 'inventory',
     'tenure': '3 years'
},
]

Employee1={ 
     'id' : 1155,
     'name':'Ahsan',
     'department': 'Marketing',
      'tenure': '2 years'
},

Employee2={ 
    'id' : 1160,
    'name': 'Uzair',
     'department': 'Finance',
     'tenure': '3.5 years'
},

Employee3={ 
    'id' : 1170,
    'name': 'Zubair',
    'department': 'Admin',
    'tenure': '1.5 years'
},

Employee4={ 
    'id' : 1180,
    'name': 'Waqas',
    'department': 'Data',
    'tenure': '4 years'
}


Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'}]

In [2]:
Employees.append(Employee1)
Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'},
 ({'id': 1155,
   'name': 'Ahsan',
   'department': 'Marketing',
   'tenure': '2 years'},)]

In [3]:
Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'},
 ({'id': 1155,
   'name': 'Ahsan',
   'department': 'Marketing',
   'tenure': '2 years'},)]

In [4]:
Employees.append(Employee2)
Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'},
 ({'id': 1155,
   'name': 'Ahsan',
   'department': 'Marketing',
   'tenure': '2 years'},),
 ({'id': 1160,
   'name': 'Uzair',
   'department': 'Finance',
   'tenure': '3.5 years'},)]

In [5]:
Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'},
 ({'id': 1155,
   'name': 'Ahsan',
   'department': 'Marketing',
   'tenure': '2 years'},),
 ({'id': 1160,
   'name': 'Uzair',
   'department': 'Finance',
   'tenure': '3.5 years'},)]

In [6]:
Employees.append(Employee3)
Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'},
 ({'id': 1155,
   'name': 'Ahsan',
   'department': 'Marketing',
   'tenure': '2 years'},),
 ({'id': 1160,
   'name': 'Uzair',
   'department': 'Finance',
   'tenure': '3.5 years'},),
 ({'id': 1170,
   'name': 'Zubair',
   'department': 'Admin',
   'tenure': '1.5 years'},)]

In [7]:
Employees.append(Employee4)
Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'},
 ({'id': 1155,
   'name': 'Ahsan',
   'department': 'Marketing',
   'tenure': '2 years'},),
 ({'id': 1160,
   'name': 'Uzair',
   'department': 'Finance',
   'tenure': '3.5 years'},),
 ({'id': 1170,
   'name': 'Zubair',
   'department': 'Admin',
   'tenure': '1.5 years'},),
 {'id': 1180, 'name': 'Waqas', 'department': 'Data', 'tenure': '4 years'}]

In [8]:
Employees

[{'id': 1150, 'name': 'Ubaid', 'department': 'inventory', 'tenure': '3 years'},
 ({'id': 1155,
   'name': 'Ahsan',
   'department': 'Marketing',
   'tenure': '2 years'},),
 ({'id': 1160,
   'name': 'Uzair',
   'department': 'Finance',
   'tenure': '3.5 years'},),
 ({'id': 1170,
   'name': 'Zubair',
   'department': 'Admin',
   'tenure': '1.5 years'},),
 {'id': 1180, 'name': 'Waqas', 'department': 'Data', 'tenure': '4 years'}]

In [9]:
# You are managing an inventory system where each item has an item ID, description, and quantity available. (Use tuples to represent each inventory item

In [10]:
Items=[
    { 
    'id' : 156,
     'description':'high quality soap 128 gm with minimum price in the market ',
      'Product name': 'LifeBuoy Soap',
       'Type': 'Soap',
        'Quantity' : 50
        
},
]

Item1={ 
      'id' : 158,
     'description':'high quality detergent 1000 gm with minimum price in the market ',
      'Product name': 'Surf Excel',
      'Type': 'Detergent',
      'Quantity' : 30
},

Item2={ 
    'id' : 159,
     'description':'high quality facewash 128 gm with minimum price in the market ',
      'Product name': 'Lifebuoy-facewash',
       'Type': 'facewash',
      'Quantity' : 20
},

Item3={ 
    'id' : 164,
     'description':'high quality shampoo 700 gm with minimum price in the market ',
      'Product name': 'LifeBuoy shampoo',
      'Type': 'Shampoo',
      'Quantity' : 10
},

Item4={ 
    'id' : 167,
     'description':'high quality Oil 100 gm with minimum price in the market ',
      'Product name': 'LifeBuoy Oil',
      'Type': 'Oil',
      'Quantity' : 40

}


Items

[{'id': 156,
  'description': 'high quality soap 128 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Soap',
  'Type': 'Soap',
  'Quantity': 50}]

In [11]:
Items.append(Item1)
Items

[{'id': 156,
  'description': 'high quality soap 128 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Soap',
  'Type': 'Soap',
  'Quantity': 50},
 ({'id': 158,
   'description': 'high quality detergent 1000 gm with minimum price in the market ',
   'Product name': 'Surf Excel',
   'Type': 'Detergent',
   'Quantity': 30},)]

In [12]:
Items.append(Item2)
Items

[{'id': 156,
  'description': 'high quality soap 128 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Soap',
  'Type': 'Soap',
  'Quantity': 50},
 ({'id': 158,
   'description': 'high quality detergent 1000 gm with minimum price in the market ',
   'Product name': 'Surf Excel',
   'Type': 'Detergent',
   'Quantity': 30},),
 ({'id': 159,
   'description': 'high quality facewash 128 gm with minimum price in the market ',
   'Product name': 'Lifebuoy-facewash',
   'Type': 'facewash',
   'Quantity': 20},)]

In [13]:
Items.append(Item3)
Items

[{'id': 156,
  'description': 'high quality soap 128 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Soap',
  'Type': 'Soap',
  'Quantity': 50},
 ({'id': 158,
   'description': 'high quality detergent 1000 gm with minimum price in the market ',
   'Product name': 'Surf Excel',
   'Type': 'Detergent',
   'Quantity': 30},),
 ({'id': 159,
   'description': 'high quality facewash 128 gm with minimum price in the market ',
   'Product name': 'Lifebuoy-facewash',
   'Type': 'facewash',
   'Quantity': 20},),
 ({'id': 164,
   'description': 'high quality shampoo 700 gm with minimum price in the market ',
   'Product name': 'LifeBuoy shampoo',
   'Type': 'Shampoo',
   'Quantity': 10},)]

In [14]:
Items.append(Item4)
Items

[{'id': 156,
  'description': 'high quality soap 128 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Soap',
  'Type': 'Soap',
  'Quantity': 50},
 ({'id': 158,
   'description': 'high quality detergent 1000 gm with minimum price in the market ',
   'Product name': 'Surf Excel',
   'Type': 'Detergent',
   'Quantity': 30},),
 ({'id': 159,
   'description': 'high quality facewash 128 gm with minimum price in the market ',
   'Product name': 'Lifebuoy-facewash',
   'Type': 'facewash',
   'Quantity': 20},),
 ({'id': 164,
   'description': 'high quality shampoo 700 gm with minimum price in the market ',
   'Product name': 'LifeBuoy shampoo',
   'Type': 'Shampoo',
   'Quantity': 10},),
 {'id': 167,
  'description': 'high quality Oil 100 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Oil',
  'Type': 'Oil',
  'Quantity': 40}]

In [15]:
Items

[{'id': 156,
  'description': 'high quality soap 128 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Soap',
  'Type': 'Soap',
  'Quantity': 50},
 ({'id': 158,
   'description': 'high quality detergent 1000 gm with minimum price in the market ',
   'Product name': 'Surf Excel',
   'Type': 'Detergent',
   'Quantity': 30},),
 ({'id': 159,
   'description': 'high quality facewash 128 gm with minimum price in the market ',
   'Product name': 'Lifebuoy-facewash',
   'Type': 'facewash',
   'Quantity': 20},),
 ({'id': 164,
   'description': 'high quality shampoo 700 gm with minimum price in the market ',
   'Product name': 'LifeBuoy shampoo',
   'Type': 'Shampoo',
   'Quantity': 10},),
 {'id': 167,
  'description': 'high quality Oil 100 gm with minimum price in the market ',
  'Product name': 'LifeBuoy Oil',
  'Type': 'Oil',
  'Quantity': 40}]

In [16]:
#3 You need to store the dates and times of scheduled events, like meetings or appointments

In [17]:
Appointments =[
    { 
    'Appointment No' : 156,
     'Date':'12 Dec 2024',
      'Dr': 'Asadullah',
       'Time': '12:00',
        'Fees' : 500        
},
]

Appointment1 ={ 
    'Appointment No' : 165,
     'Date':'10 Dec 2024',
      'Dr': 'Uzair',
       'Time': '01:00',
        'Fees' : 400   
},

Appointment2 ={ 
    'Appointment No' : 166,
     'Date':'15 Nov 2024',
      'Dr': 'Daniyal',
       'Time': '12:50',
        'Fees' : 1500     
},
Appointment3 ={ 
    'Appointment No' : 106,
     'Date':'2 Dec 2024',
      'Dr': 'Ahsan',
       'Time': '12:30',
        'Fees' : 200       
},
Appointment4 ={ 
    'Appointment No' : 176,
     'Date':'22 Dec 2024',
      'Dr': 'Hanzala',
       'Time': '2:00',
        'Fees' : 2500       
},




Appointments

[{'Appointment No': 156,
  'Date': '12 Dec 2024',
  'Dr': 'Asadullah',
  'Time': '12:00',
  'Fees': 500}]

In [18]:
Appointments.append(Appointment1)
Appointments

[{'Appointment No': 156,
  'Date': '12 Dec 2024',
  'Dr': 'Asadullah',
  'Time': '12:00',
  'Fees': 500},
 ({'Appointment No': 165,
   'Date': '10 Dec 2024',
   'Dr': 'Uzair',
   'Time': '01:00',
   'Fees': 400},)]

In [19]:
Appointments.append(Appointment2)
Appointments

[{'Appointment No': 156,
  'Date': '12 Dec 2024',
  'Dr': 'Asadullah',
  'Time': '12:00',
  'Fees': 500},
 ({'Appointment No': 165,
   'Date': '10 Dec 2024',
   'Dr': 'Uzair',
   'Time': '01:00',
   'Fees': 400},),
 ({'Appointment No': 166,
   'Date': '15 Nov 2024',
   'Dr': 'Daniyal',
   'Time': '12:50',
   'Fees': 1500},)]

In [20]:
Appointments.append(Appointment3)
Appointments

[{'Appointment No': 156,
  'Date': '12 Dec 2024',
  'Dr': 'Asadullah',
  'Time': '12:00',
  'Fees': 500},
 ({'Appointment No': 165,
   'Date': '10 Dec 2024',
   'Dr': 'Uzair',
   'Time': '01:00',
   'Fees': 400},),
 ({'Appointment No': 166,
   'Date': '15 Nov 2024',
   'Dr': 'Daniyal',
   'Time': '12:50',
   'Fees': 1500},),
 ({'Appointment No': 106,
   'Date': '2 Dec 2024',
   'Dr': 'Ahsan',
   'Time': '12:30',
   'Fees': 200},)]

In [21]:
Appointments.append(Appointment4)
Appointments

[{'Appointment No': 156,
  'Date': '12 Dec 2024',
  'Dr': 'Asadullah',
  'Time': '12:00',
  'Fees': 500},
 ({'Appointment No': 165,
   'Date': '10 Dec 2024',
   'Dr': 'Uzair',
   'Time': '01:00',
   'Fees': 400},),
 ({'Appointment No': 166,
   'Date': '15 Nov 2024',
   'Dr': 'Daniyal',
   'Time': '12:50',
   'Fees': 1500},),
 ({'Appointment No': 106,
   'Date': '2 Dec 2024',
   'Dr': 'Ahsan',
   'Time': '12:30',
   'Fees': 200},),
 ({'Appointment No': 176,
   'Date': '22 Dec 2024',
   'Dr': 'Hanzala',
   'Time': '2:00',
   'Fees': 2500},)]

In [22]:
Appointments

[{'Appointment No': 156,
  'Date': '12 Dec 2024',
  'Dr': 'Asadullah',
  'Time': '12:00',
  'Fees': 500},
 ({'Appointment No': 165,
   'Date': '10 Dec 2024',
   'Dr': 'Uzair',
   'Time': '01:00',
   'Fees': 400},),
 ({'Appointment No': 166,
   'Date': '15 Nov 2024',
   'Dr': 'Daniyal',
   'Time': '12:50',
   'Fees': 1500},),
 ({'Appointment No': 106,
   'Date': '2 Dec 2024',
   'Dr': 'Ahsan',
   'Time': '12:30',
   'Fees': 200},),
 ({'Appointment No': 176,
   'Date': '22 Dec 2024',
   'Dr': 'Hanzala',
   'Time': '2:00',
   'Fees': 2500},)]

In [23]:
# 4 Store a company's employee details, organized by department

In [24]:
Employees = {
     '1024' : {'name': 'hasam', 'age': 21, 'gender': 'male','tenure':'4Y', 'Department' : 'Inventory'},
     '1026' : {'name': 'hira', 'age': 41, 'gender': 'female','tenure':'5Y', 'Department' : 'Sales'},
     '1028' : {'name': 'sara', 'age': 28, 'gender': 'female','tenure':'8Y', 'Department' : 'Marketing'}
}

Employees['1024']

{'name': 'hasam',
 'age': 21,
 'gender': 'male',
 'tenure': '4Y',
 'Department': 'Inventory'}

In [25]:
Employees['1024']['Department']

'Inventory'

In [26]:
Employees['1028']['tenure']

'8Y'

In [27]:
#5 Keep track of student scores in various subjects and retrieve a student's scores

In [28]:
Students=[
    {
    'Name' : 'Ali',
    'Subject' : ['math','Bio','Chem'],
    'Group' : 'Medical',
    'Score' : ['75','80','85'],
    'Grade' : 'A',
},
    {
    'Name' : 'Ahmed',
    'Subject' :['Math','Phy','Chem'],
    'Group' : 'Engr',
    'Score' : ['70','60','75'],
    'Grade' : 'B',
},
    {
    'Name' : 'Abdullah',
    'Subject' :['Phy','Bio','Chem'],
    'Group' : 'Medical',
    'Score' : ['55','80','85'],
    'Grade' : 'A',
},
]
Student1={
    'Name' : 'Faiz',
    'Subject' :['Account','Comp','Phy'],
    'Group' : 'Commerce',
    'Score' : ['95','80','85'],
    'Grade' : 'A-1',
}

Students

[{'Name': 'Ali',
  'Subject': ['math', 'Bio', 'Chem'],
  'Group': 'Medical',
  'Score': ['75', '80', '85'],
  'Grade': 'A'},
 {'Name': 'Ahmed',
  'Subject': ['Math', 'Phy', 'Chem'],
  'Group': 'Engr',
  'Score': ['70', '60', '75'],
  'Grade': 'B'},
 {'Name': 'Abdullah',
  'Subject': ['Phy', 'Bio', 'Chem'],
  'Group': 'Medical',
  'Score': ['55', '80', '85'],
  'Grade': 'A'}]

In [29]:
Students.append(Student1)
Students

[{'Name': 'Ali',
  'Subject': ['math', 'Bio', 'Chem'],
  'Group': 'Medical',
  'Score': ['75', '80', '85'],
  'Grade': 'A'},
 {'Name': 'Ahmed',
  'Subject': ['Math', 'Phy', 'Chem'],
  'Group': 'Engr',
  'Score': ['70', '60', '75'],
  'Grade': 'B'},
 {'Name': 'Abdullah',
  'Subject': ['Phy', 'Bio', 'Chem'],
  'Group': 'Medical',
  'Score': ['55', '80', '85'],
  'Grade': 'A'},
 {'Name': 'Faiz',
  'Subject': ['Account', 'Comp', 'Phy'],
  'Group': 'Commerce',
  'Score': ['95', '80', '85'],
  'Grade': 'A-1'}]

In [30]:
Students[1]

{'Name': 'Ahmed',
 'Subject': ['Math', 'Phy', 'Chem'],
 'Group': 'Engr',
 'Score': ['70', '60', '75'],
 'Grade': 'B'}

In [31]:
Students[3]

{'Name': 'Faiz',
 'Subject': ['Account', 'Comp', 'Phy'],
 'Group': 'Commerce',
 'Score': ['95', '80', '85'],
 'Grade': 'A-1'}

In [32]:
Students[1]['Score']

['70', '60', '75']

In [33]:
Students[3]['Score']

['95', '80', '85']

In [34]:
# Track various projects and their associated tasks, and retrieve tasks for a specific project

In [35]:
Project1={'Website Design' :['Themes', 'Layouts', 'Seo', 'Off Page', 'OnPage', 'Loading time'],
         } 
Project2={'Marketing Plan': ['Sales','Targeted Audience', 'Product Quality', 'Product Testing', 'Product Reviews'],
         }
Project3={'Finance Plan' : [ 'Return on Investment', 'Lower Marketing Budget','limited Product Cost', 'limited Expense'],
         }
Project1

{'Website Design': ['Themes',
  'Layouts',
  'Seo',
  'Off Page',
  'OnPage',
  'Loading time']}

In [36]:
Project2

{'Marketing Plan': ['Sales',
  'Targeted Audience',
  'Product Quality',
  'Product Testing',
  'Product Reviews']}

In [37]:
Project3

{'Finance Plan': ['Return on Investment',
  'Lower Marketing Budget',
  'limited Product Cost',
  'limited Expense']}

In [38]:
Project3['Finance Plan'][3]

'limited Expense'

In [39]:
Project2['Marketing Plan'][1]

'Targeted Audience'

In [40]:
Project1['Website Design'][1]

'Layouts'

In [41]:
 #7 Manage courses and their contents in a training program and retrieve details of a specific module

In [42]:
Training_Program = {
    'Math' : {'Algabra', 'Quardic Equation','Geometry','Derivatives','Multiplication'},
    'Physics' : { 'Boyles Law', 'Charles Law', 'Newton Law', 'Force Law'},
    'Accounting' :{'General Leger', 'Trail Balance', 'Fifo', 'Lifo', 'Balance sheet','Income Statemnt','Tax'}
}
Training_Program

{'Math': {'Algabra',
  'Derivatives',
  'Geometry',
  'Multiplication',
  'Quardic Equation'},
 'Physics': {'Boyles Law', 'Charles Law', 'Force Law', 'Newton Law'},
 'Accounting': {'Balance sheet',
  'Fifo',
  'General Leger',
  'Income Statemnt',
  'Lifo',
  'Tax',
  'Trail Balance'}}

In [43]:
Training_Program ['Math']

{'Algabra', 'Derivatives', 'Geometry', 'Multiplication', 'Quardic Equation'}

In [44]:
Training_Program ['Accounting']

{'Balance sheet',
 'Fifo',
 'General Leger',
 'Income Statemnt',
 'Lifo',
 'Tax',
 'Trail Balance'}

In [45]:
Training_Program ['Physics']

{'Boyles Law', 'Charles Law', 'Force Law', 'Newton Law'}

In [46]:
# 8 You have a list where each element is a tuple containing a product's name and its price.

In [47]:
Product_1 =('Dell','Model','Core 3','Price','36000'),
Product_2 = ('Lenavo','Model','Genration 4','Price','46000'),
Product_3 = ('Hp','Model','Core i5','Price','76000')
Product_1

(('Dell', 'Model', 'Core 3', 'Price', '36000'),)

In [98]:
Product_2

(('Lenavo', 'Model', 'Genration 4', 'Price', '46000'),)

In [100]:
Product_3

('Hp', 'Model', 'Core i5', 'Price', '76000')

In [104]:
Product_1[0]

2

In [116]:
Products=list(Product_3)

In [118]:
Products

['Hp', 'Model', 'Core i5', 'Price', '76000']

In [120]:
Products=tuple(Product_2)

In [122]:
Products

(('Lenavo', 'Model', 'Genration 4', 'Price', '46000'),)